__pycache__

*.log
runstrat/prebuilt/*
runstrat/!prebuilt/*.json
runstrat/!prebuilt/*.csv
gentests

dotCover.Output.*
/**/*.csv
!compstrat/tests/resources/mock_runs/*.csv

.DS_Store

.*env/
.vscode/

report/
