name: Test runstrat tool

on: 
  push:
    paths: 
      - 'tools/runstrat/**'
  pull_request:
    paths: 
      - 'tools/runstrat/**'

jobs:
  calculate-dockerfile-hash:
    runs-on: self-hosted
    container:
      image: ubuntu:24.04
    outputs:
      dockerfile_hash: ${{ steps.hash.outputs.hash }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Calculate Dockerfile hash
        id: hash
        run: |
          HASH=$(sha1sum .github/docker/Dockerfile | cut -d ' ' -f 1)
          echo "hash=$HASH" >> $GITHUB_OUTPUT
          
  build-and-launch:
    needs: calculate-dockerfile-hash
    runs-on: self-hosted
    container:
      image: ghcr.io/pysymgym/pysymgym:${{ needs.calculate-dockerfile-hash.outputs.dockerfile_hash }}
    permissions:
      packages: read
    steps:
      - name: Debug
        run: |
          printenv
          dotnet --version

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11.8"

      - name: Install poetry
        run: |
          pip install poetry

      - name: Install dependencies
        run: |
          poetry --ansi install -q

      - name: Build V# game server
        working-directory: ./GameServers/VSharp/
        run: |
          dotnet build VSharp.ML.GameServer.Runner -c Release

      - name: Build .NET maps for tests
        working-directory: ./tools/runstrat/resources
        run: |
          dotnet build ForTests -c Release

      - name: Run tests
        working-directory: ./tools/runstrat
        run: |
          poetry run pytest tests -sv -o log_file="artifacts/runstrat.log" -o log_file_level="DEBUG"

      - name: Upload artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: tools/runstrat/artifacts/*
